<head>
  <link rel="stylesheet" type="text/css" href="/stylesheet/icomoon.css">
  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<div id="header-wrap">

  <div class="top-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="social-links">
          </div>
          <!--social-links-->
        </div>
        <div class="col-md-6">
          <div class="right-element">
            <a href="/logout/<%= user._id %>" class="user-account for-buy"><i class="icon icon-user"></i><span>Logout</span></a>

          </div>
          <!--top-right-->
        </div>

      </div>
    </div>
  </div>

</div>
<!--header-wrap-->

<section id="billboard">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="main-slider pattern-overlay">
          <div class="slider-item">
            <div class="banner-content">
              <h2 class="banner-title">Welcome <%= user.name %></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
                urna, a eu.</p>
              <div class="btn-wrap">
                <a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!--slider-item-->

        </div>

      </div>
    </div>
  </div>

</section>

<div id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="copyright">
          <div class="row">

            <div class="col-md-6">
              <p>© 2025 All rights reserved.</p>
            </div>

          </div>
        </div>
        <!--grid-->

      </div>
      <!--footer-bottom-content-->
    </div>
  </div>
</div>