<form action="/login" method="POST">
  <div class="login-box">
    <div class="login-header">
      <header>Login</header>
    </div>

    <% if (message) { %>
    <div style="margin: auto; margin-bottom: 10px; color: red;"><%= message %></div>
    <% } %>

    <div class="input-box">
      <input type="text" class="input-field" placeholder="Email" autocomplete="off" name="email">
    </div>

    <div class="input-box" style="display: flex; flex-wrap: wrap; align-items: center;">
      <input type="password" id="password" class="input-field" placeholder="Password" autocomplete="off" name="password">
      <i id="eye-open1" class="fa-regular fa-eye-slash" style="margin-left: -45px; margin-top: -10px;"></i>
    </div>

    <div class="input-submit">
      <button type="submit" class="submit-btn" id="submit"></button>
      <label for="submit">Sign Up</label>
    </div>

    <div class="sign-up-link">
      <p>Don't have account? <a href="/register">Sign up</a></p>
    </div>
  </div>
</form>

<script>
  const password = document.getElementById("password");
  const eyeicon = document.getElementById("eye-open1");

  eyeicon.onclick = () => {
    eyeicon.classList.toggle("fa-eye");
    eyeicon.classList.toggle("fa-eye-slash");
    if (password.type == "password") {
      password.type = "text";
    } else {
      password.type = "password";
    }
  };
</script>